DEBUG=True
APP_LOG_LEVEL=DEBUG
DJANGO_LOG_LEVEL=INFO

ALLOWED_HOSTS=*
SESSION_COOKIE_AGE=1209600
SECRET_KEY=xXx
STATIC_ROOT=/data/static
MEDIA_ROOT=/data/media
LANGUAGE_CODE=en-us
USE_TZ=True
TZ=UTC

USE_X_FORWARDED_HOST=True
SECURE_REFERRER_POLICY=no-referrer-when-downgrade

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=
DATABASE_PORT=3306

DEFAULT_FROM_EMAIL=no-reply@sapps.com
EMAIL_HOST=mail.sapps.me
EMAIL_HOST_USER=mail@sapps.com
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_PORT=587

CACHE_LOCATION=redis://redis:6379/0

CELERY_BROKER_URL=redis://dev01.cssnr.com:6379/1
CELERY_RESULT_BACKEND=redis://dev01.cssnr.com:6379/1
CELERY_REDIS_PASSWORD=

DISCORD_API_URL=https://discord.com/api/v8
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=https://site.com/oauth/callback/
OAUTH_GRANT_TYPE=authorization_code
OAUTH_SCOPE=identify

FLOWER_PORT=5555
FLOWER_URL_PREFIX=flower
FLOWER_PURGE_OFFLINE_WORKERS=60
FLOWER_AUTO_REFRESH=

SENTRY_URL=
SENTRY_ENVIRONMENT=dev
SENTRY_DEBUG=False
SENTRY_SAMPLE_RATE=0

PUBLIC_IP=0.0.0.0
SITE_URL=https://vultrvpn.sapps.me
DISCORD_INVITE=https://discord.gg/wXy6m2X8wY
GITHUB_URL=https://github.com/cssnr/vultrvpn
