{% extends "main.html" %}
{% block manage_active %}active{% endblock %}
{% block title %}Manage{% endblock %}
{% load static %}
{% load home_tags %}

{% block head %}
    {% if instance.server_status != 'ok' %}
        <meta http-equiv="refresh" content="30">
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt-2">

        <h1 class="display-4">Manage Instance</h1>

        {% if instance.server_status != 'ok' %}
            <div class="alert alert-secondary" role="alert">
                <strong>Server Status:</strong> {{ instance.server_status }}
            </div>
            <p>Note: This page will refresh every 30 seconds until server status is ok.
                The server will be ready before then so check the VPN file in a minute or two.</p>
            <p>Once you can download the VPN file below you should be able to connect to the VPN.</p>
        {% else %}
            <div class="alert alert-success" role="alert">
                <strong>Server Status:</strong> {{ instance.server_status }}
            </div>
        {% endif %}

        <table class="table">
            <tbody>
            <tr>
                <th scope="row">VPN File</th>
                <td>
                    {% if instance.main_ip == '0.0.0.0' %}
                        Awaiting IP address update...
                    {% else %}
                        <a href="http://{{ instance.main_ip }}/{{ instance.hostname }}.ovpn" target="_blank">
                            http://{{ instance.main_ip }}/{{ instance.hostname }}.ovpn</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">IP Address</th>
                <td>{{ instance.main_ip }}</td>
            </tr>
            <tr>
                <th scope="row">Username</th>
                <td>root</td>
            </tr>
            <tr>
                <th scope="row">Password</th>
                <td>{{ request.session.password }}</td>
            </tr>
            </tbody>
        </table>

        <form method="post" action="{% url 'home:delete' %}" id="main-form">
            {% csrf_token %}

            <input type="hidden" name="instance_id" value="{{ instance.id }}">
            <input type="hidden" name="action" value="delete">

            <button type="button" class="btn btn-outline-danger btn-lg mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete VPN Instance
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <p>
                        id: {{ instance.id }}<br>
                        hostname: {{ instance.hostname }}<br>
                        address: {{ instance.main_ip }}<br>
                      </p>
                      <p class="lead text-warning">WARNING: This can NOT be undone!</p>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-danger me-auto">Delete Instance</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

        </form>

        <div class="mb-3">
            <code>
                {{ instance }}
            </code>
        </div>

    </div>

{% endblock %}
